@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
     margin: 0;
     padding: 0;
}

/* --------Media Desktop-------- */

@media (max-width: 2000px) {

     /* -----Home----- */

     body {
          background-color: rgb(14, 14, 14);
          overflow-x: hidden;
     }

     #logo {
          width: 12rem;
          height: 3rem;
          padding: 0rem;
          margin: 0rem;
          border: none;
          border-radius: 0%;
     }

     nav ul {
          display: flex;
          flex-direction: row;
          display: flex;
     }

     ul {
          list-style-type: none;
          justify-content: space-evenly;
     }

     .navbar a {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.8rem;
          color: #ffffff;
          margin-right: 0.5rem;
     }

     .nav-link {
          position: relative;
          display: block;
     }

     .nav-link::after {
          content: '';
          opacity: 0;
          transition: all 0.2s;
     }

     .nav-link:hover::after {
          opacity: 1;
          height: 2px;
          width: 100%;
          background-color: #71e0ff;
          position: absolute;
          bottom: 0;
          left: 0;
     }

     #glow {
          background-color: #0d7f9e;
          color: #ffffff;
          border-radius: 2rem;
          padding: 0.5rem;
          position: relative;
          display: flex;
     }

     #glow:hover {
          background-color: #71e0ff;
          color: #000000;
     }

     footer {
          font-family: 'Montserrat', sans-serif;
          color: #E3E3E3;
          background-color: rgb(0, 0, 0);
          margin-top: 5rem;
          padding: 1rem
     }

     footer a {
          font-size: 2rem;
          text-decoration: none;
          color: #0d7f9e;
          cursor: pointer;
          transition-duration: 0.4s;
     }

     footer h5 {
          font-size: 1rem;
          color: #E3E3E3;
     }

     footer small {
          font-size: 0.8rem;
     }

     .redes {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 2rem;
          margin-bottom: 2rem;
     }

     .icon {
          width: 3rem;
          height: 3rem;
          margin-left: 1.6rem;
          margin-right: 1.6rem;
          margin-bottom: 1rem;
     }

     #subir {
          text-align: center;
          margin: 2rem;
          background-color: #141414;
     }

     a {
          text-decoration: none;
          cursor: pointer;
          transition: 0.4s;
     }

     a:hover {
          text-decoration: none;
          color: #71e0ff;
     }

     p {
          font-family: 'Palanquin', sans-serif;
          font-size: 1.4rem;
          text-align: center;
          color: #E3E3E3;
          margin-left: 13rem;
          margin-right: 13rem;
          margin-bottom: 1.5rem;
          line-height: 2.3rem;
     }

     h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 4rem;
          text-align: center;
          text-transform: uppercase;
          margin: 3rem 5rem 3rem 5rem;
          color: #E3E3E3;
     }

     h2 {
          font-family: 'Signika Negative', sans-serif;
          font-size: 2.6rem;
          text-align: center;
          margin: 3rem 7rem 1.3rem 7rem;
          color: #E3E3E3;
     }

     #subTitle {
          margin-top: 3rem;
          margin-bottom: 3rem;
          padding: 2rem;
          background-image: linear-gradient(160deg, #0050d0 0%, #62d2c8 100%);
     }

     /* -----Develop----- */

     .itemDev {
          margin-top: 3rem;
          margin-bottom: 3rem;
          padding: 2rem;
          background-image: linear-gradient(45deg, #03b855 0%, #60bc52 100%);
     }

     /* -----Art----- */

     img {
          margin-top: 2rem;
          margin-bottom: 2rem;
          border: black solid 5px;
          border-radius: 30px;
          width: 45vw;
          height: 55vh;
          display: block;
          margin: auto;
     }

     .imgTop {
          margin: 0rem;
          width: 100%;
          height: 91vh;
          border: 0rem;
          border-radius: 0px;
     }

     .smallText {
          font-family: 'Palanquin', sans-serif;
          font-size: 1.3rem;
          margin: 1rem 2rem 1rem 2rem;
          color: #E3E3E3;
          display: flex;
          flex-direction: row;
          justify-content: center;
     }

     iframe {
          margin-top: 2rem;
          margin-bottom: 2rem;
          width: 50vw;
          height: 55vh;
          border: groove #000000;
          border-radius: 30px;
          display: block;
          margin: auto;
     }

     .itemArt {
          margin-top: 3rem;
          margin-bottom: 3rem;
          padding: 2rem;
          background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
     }

     .conteiner-img {
          width: 100%;
          max-width: 600px;
          margin: auto;
          margin-top: 60px;
          margin-bottom: 60px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 250px;
          grid-gap: 20px;
     }

     .conteiner-img .box-img figure {
          width: 100%;
          height: 100%;
     }

     .conteiner-img .box-img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: none;
          border-radius: 0%;
     }

     .conteiner-img .box-img:nth-child(1) {
          grid-column-start: span 2;
     }

     .conteiner-img .box-img:nth-child(4) {
          grid-row-start: span 2;
     }

     /* -----Advantages----- */

     .itemAdv {
          margin-top: 3rem;
          margin-bottom: 3rem;
          padding: 2rem;
          background-image: linear-gradient(147deg, #ff3b6e 0%, #eb2d37 74%);
     }

     /* -----About us----- */

     #backUs {
          background-color: rgb(0, 0, 0);
     }

     .aboutUs {
          width: 23rem;
          height: 3.7rem;
          display: flex;
          justify-content: center;
          border: 0rem;
     }

     #mision {
          font-family: 'Signika Negative', sans-serif;
          font-size: 3rem;
          text-align: center;
          margin: 1rem 2rem 1rem 2rem;
          color: #ffffff;
     }

     .aboutUsP {
          font-family: 'Palanquin', sans-serif;
          font-size: 2rem;
          line-height: 3rem;
          text-align: center;
          color: #E3E3E3;
          margin: 2rem 9rem 2rem 9rem;
     }

     /* -----Contact----- */

     #backCont {
          background-image: url(../img/contactback.png);
          background-attachment: fixed;
          color: #ffffff;
     }

     fieldset {
          background-color: rgb(23, 23, 23);
          width: 50rem;
     }

     label {
          font-family: 'Palanquin', sans-serif;
          font-size: 1.5rem;
          margin: 0.3rem 1rem 0.5rem 1rem;
          color: #E3E3E3;
     }

     input {
          margin: 0.3rem 1rem 0.5rem 1rem;
     }

     form {
          display: flex;
          flex-direction: row;
          justify-content: center;
     }

     form input {
          width: 45rem;
          height: 2rem;
          margin: 1rem;
     }

     form textarea {
          width: 45rem;
          height: 7rem;
          margin: 1rem;
     }

     form select {
          width: 45rem;
          height: 2rem;
          margin: 1rem;
     }
}

/* --------Media Tablet-------- */

@media (max-width: 991.98px) {

     /* -----Home----- */

     footer a {
          font-size: 1.5rem;
     }

     footer h5 {
          font-size: 0.9rem;
     }

     #subir {
          padding: 0.2rem;
          padding-bottom: 0.1rem;
     }

     p {
          font-size: 1.2rem;
          margin-left: 5rem;
          margin-right: 5rem;
          line-height: 2rem;
     }

     h1 {
          font-size: 2.4rem;
     }

     h2 {
          font-size: 1.9rem;
     }

     /* -----Develop----- */

     /* -----Art----- */

     img {
          width: 60vw;
          height: 40vh;
     }

     .imgTop {
          height: 50vh;
     }

     .smallText {
          font-size: 1rem;
     }

     iframe {
          margin-top: 2rem;
          width: 75vw;
          height: 50vh;
     }

     .conteiner-img {
          max-width: 450px;
     }

     /* -----Advantages----- */

     /* -----About us----- */

     .aboutUs {
          margin-top: 0.2rem;
     }

     .aboutUsP {
          font-size: 1.3rem;
          line-height: 2rem;
          margin: 3rem 5rem 3rem 5rem;
     }

     /* -----Contact----- */

     fieldset {
          width: 35rem;
     }


     form input {
          width: 30rem;
     }

     form textarea {
          width: 30rem;
     }

     form select {
          width: 30rem;
     }
}

/* --------Media Mobile-------- */

@media (max-width: 767.98px) {

     /* -----Home----- */

     footer {
          margin-top: 2rem;
          padding: 0.2rem
     }

     footer a {
          font-size: 1rem;
     }

     .icon {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 1.6rem;
          margin-right: 1.6rem;
          margin-bottom: 0.7rem;
          margin-top: 0.7rem;
     }

     footer h5 {
          font-size: 0.7rem;
          margin-left: 0.7rem;
     }

     footer small {
          font-size: 0.6rem;
          margin-left: 0.7rem;
     }

     nav ul {
          display: flex;
          flex-direction: row;
          display: flex;
          justify-content: space-evenly;
     }

     p {
          font-size: 1rem;
          margin-left: 3rem;
          margin-right: 3rem;
          margin-bottom: 1rem;
          line-height: 1.7rem;
     }

     h1 {
          font-size: 2.2rem;
          margin: 3rem 1rem 3rem 1rem;
     }

     h2 {
          font-size: 1.7rem;
          margin: 2rem 2rem 1.3rem 2rem;
     }

     /* -----Develop----- */

     .itemDev {
          margin-top: 3rem;
          margin-bottom: 2rem;
          padding: 2rem;
          background-image: linear-gradient(45deg, #03b855 0%, #60bc52 100%);
     }

     /* -----Art----- */

     img {
          margin-top: 2rem;
          margin-bottom: 2rem;
          width: 45vw;
          height: 24vh;
     }

     .imgTop {
          height: 35vh;
     }

     .smallText {
          font-size: 0.9rem;
          margin: 1rem 3rem 1rem 3rem;
     }

     iframe {
          width: 80vw;
          height: 40vh;
     }

     /* -----Advantages----- */

     /* -----About us----- */

     .aboutUs {
          margin-top: 0.2rem;
     }

     .aboutUsP {
          font-size: 1rem;
          line-height: 2rem;
          margin: 3rem 5rem 3rem 5rem;
     }

     /* -----Contact----- */

     fieldset {
          width: 25rem;
     }

     label {
          font-size: 1rem;
     }

     form input {
          width: 20rem;
          height: 1.7rem;
          margin: 0.5rem;
          margin-left: 1rem;
     }

     form textarea {
          width: 20rem;
          margin: 0.5rem;
          margin-left: 1rem;
     }

     form select {
          width: 20rem;
          margin: 0.5rem;
          margin-left: 1rem;
     }
}